<div class="bg-warning">
    <div class="w3-sidebar w3-bar-block" style="width:10%">
        <h3 class="w3-bar-item">Menu</h3>
        <a href="#" class="w3-bar-item w3-button">Favourite</a>
        <a class="w3-bar-item w3-button"@Html.ActionLink("Product", "Index", "Products")</a>
        <a class="w3-bar-item w3-button" @Html.ActionLink("YourOrder", "YourOrder", "Home")</a>
    </div>
</div>
