@model IEnumerable<WebMvcTill22Aug.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movie Listing</h2>
<div style="float:right; margin-bottom:15px">
    @Html.ActionLink("Add New+", "New", "Movies", null, new { @class = "btn btn-success" })
</div>


<table class="table  table-bordered table-condensed table-striped">
    <thead>
        <tr><td><b>Movie Name</b></td><td><b>Operation</b></td></tr>

    </thead>
    <tbody>
        @foreach (var mov in Model)
        {
            <tr>
                <td>@mov.MName</td>
                <td>@Html.ActionLink("Details", "Details", "Movies", new { id = mov.Id }, new { @class = "btn btn-info btn-xs" })&nbsp;&nbsp;@Html.ActionLink("Delete", "Delete", new { id = mov.Id }, new { @class="btn btn-danger btn-xs"}), &nbsp; &nbsp; @Html.ActionLink("Edit", "Edit", new { id = mov.Id }, new { @class = "btn btn-warning btn-xs" })</td>
            </tr>
        }
    </tbody>
</table>
