
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("OrderDetail", "order"))
{
    <table>
        <thead>
            <tr>
                <td>PName</td>
                <td>price</td>
                <td>Quantity</td>
                <td>Subtotal</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in (List<WebAppsCart.ViewModel.ProductViewModel>)Session["cart"])
            {
                <tr>

                    <td>@item.Product.PName</td>
                    <td>@item.Product.Price</td>
                    <td>@item.Quantity</td>
                    @*<td>@item.Price</td>*@

                </tr>
            }

        </tbody>
    </table>
    <button type="submit">checkout</button>
}