@model IEnumerable<MVCAppClassDemo.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Movies</h2>
<ul>
    @foreach(var m in Model)
    {
        <li>@m.Name</li>
    }
    </ul>

